@import "tailwindcss";

body {
  font-family: "Arial";
  /* background-color: #000; */
}

#login {
  background-color: #000;
  background-image: url("/images/login.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
